<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <a href="http://localhost:8080/api/box">
        <button type="button" class="btn btn-custom rounded-circle" style="background-color: #7de5ed; color: #00000;">Ventas diarias</button>
      </a>
      <a href="http://localhost:8080/api/products">
        <button type="button" class="btn btn-custom rounded-circle" style="background-color: #f9f54b; color: #00000;">Productos</button>
      </a>
      <a href="https://docs.google.com/spreadsheets/d/1qqre094pv0V2mq_to8rxACE6bBtFWRuvkbpDdzRRdxA/edit#gid=306625664" target="_blank">
        <button type="button" class="btn btn-custom rounded-circle" style="background-color: #e90064; color: #ffffff;">Comparar productos</button>
      </a>
      <a href="https://docs.google.com/spreadsheets/d/1krZqNKh_pv2VAzGPXGtoVHnEtXziYaoE6rvlXGUMfIs/edit#gid=0" target="_blank">
        <button type="button" class="btn btn-custom rounded-circle" style="background-color: #7de5ed; color: #00000;">Gastos mensuales</button>
      </a>
      <a href="http://localhost:8080/api/products/addProds">
        <button type="button" class="btn btn-custom rounded-circle" style="background-color: #f9f54b; color: #00000;">Añadir productos</button>
      </a>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
