<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <a href="http://localhost:8080/api/box"><button type="button" class="btn btn-primary btn-custom">Ventas diarias</button></a>
      <a href="http://localhost:8080/api/products"><button type="button" class="btn btn-secondary btn-custom">Productos</button></a>
      <a href="http://localhost:8080/api/products/addProds"><button type="button" class="btn btn-success btn-custom">Añadir productos</button></a>
      <a href="http://"><button type="button" class="btn btn-primary btn-custom">Lorem</button></a>
      <a href="http://"><button type="button" class="btn btn-secondary btn-custom">Lorem</button></a>
      <a href="http://"><button type="button" class="btn btn-success btn-custom">Lorem</button></a>
    </div>
  </div>
</div>


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
