<h1>BOX</h1>

<p>{{this.box}}</p>

<form id="updateForm">
	<label for="price">Precio:</label>
	<input type="number" id="price" name="price">
	<button type="submit">Actualizar</button>
</form>

 <h3>Ventas Diarias:</h3>
  <ul>
    {{#each daily}}
    <li>Fecha: {{this.date}}, Venta: {{this.amount}}</li>
    {{/each}}
  </ul>
  <button id="closeDailyBtn">Cerrar Caja Diaria</button>

<script src="/js/boxupdate.js"></script>
<script src="/js/dailyupdate.js"></script>