<h1>BOX</h1>

<p>{{this.box}}</p>

<form id="updateForm">
	<label for="price">Precio:</label>
	<input type="number" id="price" name="price">
	<button type="submit">Actualizar</button>
</form>

<script src="/js/boxupdate.js"></script>