<h1>Editar producto</h1>
<form id="editForm" class="form-container">

<label for="name" class="form-label">Nombre</label>
  <input type="text" name="name"  class="form-input" />

  <label for="brand" class="form-label">Marca</label>
  <input type="text" name="brand"  class="form-input" />

  <label for="type" class="form-label">Tipo de producto</label>
  <input type="text" name="type"  class="form-input" />

  <label for="size" class="form-label">Tamaño</label>
  <select name="size" id="size"  class="form-select">
    <option value="undefined">Undefined</option>
    <option value="RN">RN</option>
    <option value="RN+">RN+</option>
    <option value="P">P</option>
    <option value="M">M</option>
    <option value="G">G</option>
    <option value="XG">XG</option>
    <option value="XXG">XXG</option>
  </select>

  <label for="description" class="form-label">Descripción</label>
  <input type="text" name="description"  class="form-input" />

  <label for="img" class="form-label">Imagen</label>
  <input type="text" name="img"  class="form-input" />

  <label for="unitPrice" class="form-label">Precio unitario</label>
  <input type="number" name="unitPrice"  class="form-input" />

  <label for="boxQuantity" class="form-label">Cantidad por caja</label>
  <input type="number" name="boxQuantity"  class="form-input" />

  <label for="stock" class="form-label">Stock</label>
  <input type="number" name="stock"  class="form-input" />

  <label for="salePrice" class="form-label">Precio al por mayor</label>
  <input type="number" name="salePrice" required class="form-input" />

  <button type="submit" data-product-id="{{_id}} " class="form-button">Editar</button>
</form>
<script src="/js/editProd.js"></script>