<h1 class="title">login</h1>

<form id="loginForm" action="" class="form-container">
  <label for="" class="label">Usuario</label>
  <input type="text" name="email" id="" class="input-field">
  
  <label for="" class="label">Contrase침a</label>
  <input type="password" name="password" id="" class="input-field">

  <button type="submit" class="submit-button">Iniciar sesi칩n</button>
</form>
  
<script src="/js/login.js"></script>


{{!-- <h1>login</h1>

<form id="loginForm" action="">
  <label for="">Usuario</label>
  <input type="text" name="email" id="">
  
  <label for="">Contrase침a</label>
  <input type="password" name="password" id="">

  <button type="submit">Iniciar sesi칩n</button>
</form>
  registrarse: http://localhost:8080/signup
<script src="/js/login.js"></script> --}}